* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainPage {/*index.html main page*/
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-areas: 
    "header header header" 
    "nav nav nav" 
}

.header {/*This is the header no matter what page*/
    display: flex;
    grid-area: header;
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid black;
    gap: 5%;
    align-items: center;
    background-color:#0a0b10;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e6edf3;
}

.header a {
    display: inline-block;
    height: 100%;
    width: 5%;
}

.header a img {
    display: block;
    mix-blend-mode: screen;
    height: 100%;
    width: 100%;
}

main {/*Main style below header*/
    display: flex;
    justify-content: space-between;
    padding: 5%;
    grid-area: nav;
    height: 100vh;
    border-bottom: 1px solid black;
    background-color: #0a0b10;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#navigation ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    gap: 2rem;
    width: 50%;
}

#navigation ul li a {/*Navigation section for homepage*/
    display: flex;
    list-style: none;
    height: 90%;
    background-color: #161b22;
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
    color: rgba(59, 130, 246, 0.5);
    border: 1px solid rgba(59, 130, 246, 0.7);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 15px;
    margin: 0 auto;
    text-decoration: none;
}

#navigation ul li a:hover {
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: 2.2rem;
}

#navigation ul li {
    display: flex;
    list-style: none;
    height: 90%;
    border-radius: 7px;
    width: 90%;
    justify-content: center;
    align-items: center;
    color: rgba(59, 130, 246, 0.5);
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin: 0 auto;
}

.cardArea {/*This is where the cards are shown.*/
    display: grid;
    height: 90vh;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 3rem;
    align-items: center;
    border: 1px dotted red;
    background-color: rgba(10, 25, 47, 0.4); /* Very dark, sheer blue-tint */
    border: 1px solid rgba(0, 191, 255, 0.2); /* Faint glowing blue border */
    border-radius: 8px;
    box-shadow: inset 0 0 20px rgba(0, 191, 255, 0.1); /* Soft inner glow */
    padding: 20px;
}

.people-card {/*This is how the people cards are styled*/
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #161b22;
    border: 1px solid rgba(59, 130, 246, 0.5);
    color: rgba(59, 130, 246, 0.5);
    padding: 2rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.pageNav {/*This is the next page/ previous page at bottom styling*/
    display: flex;
    color: rgba(59, 130, 246, 0.5);
    margin-top: 15%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pageNav li {
    list-style: none;
}

.pageNav li button{
    margin: 10%;
    padding: 5%;
    background-color: #161b22;
    color: rgba(59, 130, 246, 0.5);
    border-radius: 8px;
    border: rgba(59, 130, 246, 0.5) 1px solid;
}

.pageNav li button:hover {
    cursor: pointer;
    background-color: rgba(59, 130, 246, 0.5);
    color: #0a0b10;
}